services:
  tidecloak:
    image: tideorg/tidecloak-dev:latest
    container_name: tidecloak-instance
    ports:
      - "8080:8080"
    #  - "8443:8443" # SSL
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    #  - KC_HTTPS_CERTIFICATE_FILE=/opt/keycloak/conf/certs/server.pem
    #  - KC_HTTPS_CERTIFICATE_KEY_FILE=/opt/keycloak/conf/certs/key.pem
    volumes:
      - kcdatabase:/opt/keycloak/data/h2
    #  - ./certs:/opt/keycloak/conf/certs	# SSL CERTS DIRECTORY

