# Default: Staging environment
services:
  tidecloak:
    image: tideorg/tidecloak-stg-dev:latest
    ports:
      - "8080:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=password
      - KC_HOSTNAME=http://localhost:8080
      - SYSTEM_HOME_ORK=https://sork1.tideprotocol.com
      - USER_HOME_ORK=https://sork1.tideprotocol.com
      - THRESHOLD_T=3
      - THRESHOLD_N=5
      - PAYER_PUBLIC=20000011d6a0e8212d682657147d864b82d10e92776c15ead43dcfdc100ebf4dcfe6a8
    tmpfs:
      - /opt/keycloak/data/h2:uid=1000,gid=1000
    #  - KC_HTTPS_CERTIFICATE_FILE=/opt/keycloak/conf/certs/server.pem
    #  - KC_HTTPS_CERTIFICATE_KEY_FILE=/opt/keycloak/conf/certs/key.pem
    #volumes:
    #  - ./kcdatabase:/opt/keycloak/data/h2
    #  - ./certs:/opt/keycloak/conf/certs	# SSL CERTS DIRECTORY

# Production environment (uncomment below, comment staging above)
#services:
#  tidecloak:
#    image: tideorg/tidecloak-dev:latest
#    ports:
#      - "8080:8080"
#    environment:
#      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
#      - KC_BOOTSTRAP_ADMIN_PASSWORD=password
#      - KC_HOSTNAME=http://localhost:8080
#      - SYSTEM_HOME_ORK=https://ork1.tideprotocol.com
#      - USER_HOME_ORK=https://ork1.tideprotocol.com
#      - PAYER_PUBLIC=200000b967a7799ffd4476e1074777ebc83bec23a3843cb2e5ca43c83561802c8e646b
